#!/usr/bin/bash
# Dump all MySQL/MariaDB databases

OUTPUT="{{ mysql_backup_dir | quote }}/$(date +{{ mysql_backup_filename_format | quote }})"
/usr/bin/mysqldump --all-databases -r "$OUTPUT.tmp"

size=$(stat -c%s "$OUTPUT.tmp")
if [ $size -lt {{ mysql_backup_minimum_expected_size }} ]; then
    echo "ERROR: Database backup '$OUTPUT.tmp' is less than {{ mysql_backup_minimum_expected_size }} bytes"
    exit 2
fi

mv "$OUTPUT.tmp" "$OUTPUT"
